{% extends  'base.html.twig' %}
{% block title %}Message{% endblock %}
    {% block body %}
        <h1>Hi, this is a header</h1>
        <div>The current message is: </div>
        <div>
            <div> {{ message.message }}</div>
            {{ include('hello/_message.html.twig', {message: message}) }}
        </div>
    {% endblock %}
