{% extends  'base.html.twig' %}
{% block title %}Message{% endblock %}
    {% block body %}
        <h1>Hi, this is a header</h1>
        <div>The current message is: </div>
        <div>
            <b>
                {{ messages }}
            </b>
        </div>
    {% endblock %}
